#font-logo {
	font-family: 'Pacifico', cursive;
}

#font-lobster {
	font-family: 'Merriweather', serif;
}

#font-pt-serif {
	font-family: 'PT Serif', serif;
}

#bg-costume-darkgrey {
	background-color: #e8e8e8;
}

#bg-wallpaper {
	background-image: url("../img/wallpaper2.png");
	background-size: cover;
	height: 100%;
	position: relative;
}

#ul-none {
	list-style: none;
	padding-left: 0;
}

#map {
	height: 400px;
    width: 100%;
}

#epek {
	color: white;
}


.facebook-logo {
	background-image: url('../img/facebook-logo.png');
	background-repeat: no-repeat;
	padding-left: 30px;
}

.instagram-logo {
	background-image: url('../img/instagram-logo.png');
	background-repeat: no-repeat;
	padding-left: 30px;
}

.telegram-logo {
	background-image: url('../img/telegram-logo-1st.png');
	background-repeat: no-repeat;
	padding-left: 30px;
}


.w-20 {
	width: 20%;
}

.carousel-control-prev-icon {
  background-image: url("../img/prev-icon.png");
}

.carousel-control-next-icon {
  background-image: url("../img/next-icon.png");
}

@media (max-width: 575px) {
	#jembot-koleps{
		margin-top: 30px;
	}
}

@media (min-width: 993px) {

	.animation-underlined {
		position: relative;
		text-decoration: none;
		padding-bottom: 2px;
	}	


	.animation-underlined:before {
		text-align: center;
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.2s ease-in-out 0s;
		transition: all 0.2s ease-in-out 0s;
	}	

	.animation-underlined:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}	
}


